---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/ProjectNav.astro";
import Footer from "../components/Footer.astro";

const { title, description, heroImage, link } = Astro.props;
---

<html lang='en'>
	<head>
		<BaseHead title={title} description={description} image="/images/Icon.webp" />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0 auto;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
		</style>

		<style is:global>
			.prose h2 {
				font-size: 1.5rem;
			}
			.prose h3 {
				font-size: 1.25rem;
			}
			.prose h4 {
				font-size: 1rem;
			}
			.prose li {
				margin-left: 1em;
				list-style: disc;
			}
			.prose li p {
				margin-bottom: 0.25em;
			}
			.prose ul {
				margin-bottom: 1em;
			}
			.prose p {
				margin-bottom: 1em;
			}
			.prose img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
				margin-bottom: 1em;
			}

			.prose table {
				width: 100%;
				border-collapse: collapse;
				border-spacing: 0;
				margin-bottom: 1em;
			}
			.prose table thead {
				background-color: #fafafa;
				color: #050505;
			}
			.dark .prose table thead {
				background-color: #050505;
				color: #fafafa;
			}
			.prose table th,
			.prose table td {
				padding: 0.5em 1em;
				border: 1px solid #050505;
			}
			.dark .prose table th,
			.dark .prose table td {
				border-color: #fafafa;
			}
			.prose table tr:nth-child(2n) {
				background-color: #f0f0f0;
			}
			.dark .prose table tr:nth-child(2n) {
				background-color: #121212;
			}

			pre {
				padding: 1em;
				border-radius: 12px;
				overflow-x: auto;
				margin-bottom: 1em;
			}
		</style>
	</head>

	<body
		class='bg-background dark:bg-background_dark text-text dark:text-text_dark'
	>
		<Header />
		<main>
			<article>
				<div class='hero-image'>
					{
						heroImage && (
							<img width={1020} height={510} src={heroImage} alt='' />
						)
					}
				</div>
				<div class='prose'>
					<div class='title'>
						<h1 class='text-3xl'>{title}</h1>
						{
							link && (
								<p class='text-sm text-primary dark:text-primary_dark'>
									<a href={link} target='_blank' rel='noopener noreferrer'>
										Check it out here!
									</a>
								</p>
							)
						}
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
